@import "../css/_partials/utilities.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    all: unset;
}

li {
    list-style-type: none;
}

body {
    background-color: #dbdbdb;
    color: blueviolet;
    font-family:Arial, sans-serif;
}

