@import "../css/_partials/utilities.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    all: unset;
}

li {
    list-style-type: none;
}

body {
    background-color: #dbdbdb;
    color: blueviolet;
    font-family:Arial, sans-serif;
}

header #header-top {
    height: 100px;
    background-color: rgb(48, 47, 47);
    mix-blend-mode: color-burn;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

header #jumbotron {
    margin-top: 100px;
    height: calc( 100vh - 100px);
    background-color: rgb(201, 234, 234);
}
